{% extends 'base.html' %}
{% set active = "Account" %}

{% block content %}

<h1>Add a book</h1>

<form method="POST" action="/addbook" class="pt-3" enctype="multipart/form-data">
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Title</label>
        <div class="col-4">
            <input class="form-control" type="text" name="title">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Author</label>
        <div class="col-4">
            <input class="form-control" type="text" name="author">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Start Date</label>
        <div class="col-4">
            <input class="form-control" type="date" name="startDate">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">End Date</label>
        <div class="col-4">
            <input class="form-control" type="date" name="endDate">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Rating</label>
        <div class="col-4">
            <select id ="rating" name="rating">
                <option type="number" value="5">5</option>
                <option type="number" value="4">4</option>
                <option type="number" value="3">3</option>
                <option type="number" value="2">2</option>
                <option type="number" value="1">1</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Genre(s)</label>
        <div class="col-4">
            <select multiple id ="genres" name="genres">
                <option value="fantasy">fantasy</option>
                <option value="fiction">fiction</option>
                <option value="romance">romance</option>
                <option value="mystery">mystery</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Book cover: (select file)</label>
        <div class="col-4">
            <input class="form-control" type="file" id="cover" name="cover">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Review</label>
        <div class="col-4">
            <textarea name="review" rows="10" cols="30"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
</form>
{% endblock %}