{% extends 'base.html' %}

{% block content %}
{% if response %}

<div class="container">
    <div class="row">
      <div class="col-3 my-auto image">
        <img src="{{response['cover']}}" class="mybook col-12">
      </div>
      <div class="col-8 vertical">
        <p class="title">
            {{response['title']}} 
        </p>

        <p class="author">
          {{response['author']}}  
        </p>
      
        <div class="mybookgenres">
          <div class="mybookgenres-text">
            <p>Genres:</p> {{response['genres']}}
          </div>
        </div>

        <div class="mybookreview">
            <div class="mybookreview-text">
              <p>Synopsis: </p> 
              <div class="review-box"><p class="innerreview-text">{{response['synopsis']}}</p></div>
            </div>
          </div>
    </div>
  </div>

{% endif %}
{% endblock %}