{% extends 'base.html' %}

{% block content %}
{% if response %}
<div class="justify-content-center addbook-container">
    <div class="mx-auto text-center form p6">

        <div class="back-button">
            <i class="fa-solid fa-angle-left"></i><a href="/displaybook?title={{response['title']}}" class="ml-auto text-left link-primary justify-content-start"> {{response['title']}}</a>
        </div>
    
        <h1>Edit {{response['title']}}</h1>
        <form class="justify-content-center" method="POST" action="/editbook" class="pt-3" enctype="multipart/form-data">
            <div class="form-group justify-content-between row">
                <div class="justify-content-start row">
                    <label for="example-text-input" class="col-2 col-form-label">Title*</label>
                    <div class="addbook-inputbox">
                        <input class="form-control" type="text" name="title" value="{{response['title']}}" required>
                    </div>
                </div>
                <div class="justify-content-start row">
                    <label for="example-text-input" class="col-2 col-form-label">Author*</label>
                    <div class="addbook-inputbox">
                        <input class="form-control" type="text" name="author" value="{{response['author']}}"required>
                    </div>
                </div>
            </div>

            <div class="form-group justify-content-between row">
                <div class="form-group justify-content-start dates row">
                    <label for="example-text-input" class="col-form-label">Start Date*</label>
                    <div class="addbook-date-inputbox">
                        <input class="form-control" type="date" name="startDate" value="{{response['startDate']}}" required>
                    </div>
                </div>
                <div class="justify-content-start dates row">
                    <label for="example-text-input" class="col-form-label second">End Date*</label>
                    <div class="addbook-date-inputbox">
                        <input class="form-control" type="date" name="endDate" value="{{response['endDate']}}" required>
                    </div>
                </div>
            </div>

            <div class="justify-content-start row third">
                <div class="rating-column">
                    <label for="example-text-input" class="col-2 col-form-label">New Rating* (choose a new rating to change)</label> 
                    <p>Current Rating: {{response['rating']}}</p> 
                    <div class="rating-padding">    
                        <select class="custom-select mb-3">
                            <option selected>-</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>   
                </div>
            </div>

            <div class="d-flex flex-wrap form-group justify-content-between row">
                <div class="d-flex flex-wrap justify-content-start row">
                    <div class="rating-column">
                        <label for="example-text-input" class="col-2 col-form-label">New Genre(s)* (choose new genre(s))</label>
                        <p>Current Genre(s): {{response['genres']}}</p>   
                    </div>
                    <select multiple class="selectpicker mb-3" id ="genres" name="genres">
                        <option value="">-</option>
                        <option value="action">action</option>
                        <option value="contemporary">contemporary</option>
                        <option value="fantasy">fantasy</option>
                        <option value="fiction">fiction</option>
                        <option value="historical fiction">historical fiction</option>
                        <option value="horror">horror</option>
                        <option value="mystery">mystery</option>
                        <option value="romance">romance</option>
                        <option value="sci-fi">sci-fi</option>
                        <option value="thriller">thriller</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group justify-content-between row">
                <div class="d-flex flex-wrap justify-content-start row two">
                    <p>Current Cover:</p>
                    <img src="{{response['cover']}}" class="book">
                </div>
                <div class="justify-content-start dates row two">
                    <label for="example-text-input" class="col-6 col-form-label">New Book Cover</label>
                    <div class="add-file-container">
                        <div class="custom-file" id="customFile">
                            <input type="file" class="custom-file-input" id="exampleInputFile" aria-describedby="fileHelp">
                            <label class="custom-file-label" for="exampleInputFile">
                                add image
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group justify-content-center row">
                <div class="justify-content-start row review-form">
                    <label for="exampleFormControlTextarea1">Review</label>
                    <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10" value="{{response['review']}}"></textarea>
                </div>
            </div>

            <input type="hidden" name="id" value="{{response['id']}}">

            <div class="form-group justify-content-center row">
                <div class="col-8">
                    <button type="submit" class="btn btn-primary addbooks-button btn-lg">Save</button>
                </div>
            </div>

        </form>
    </div>
</div>

{% endif %}

{% endblock %}

