{% extends 'base.html' %}
{% set active = "Home" %}

{% block content %}
<div class="trending">Trending Books</div>
<div class="stuffonshelf">
    <img class="book" src="/pics/cat_in_the_hat_cover.jpg">
    <img class="book" src="/pics/drug_safety_cover.jpg">
    <img class="book" src="/pics/mcdonalds_cover.jpg">
    <img class="book" src="/pics/pepe_cover.jpeg">
    <img class="book" src="/pics/flat_earth_cover.jpg">
</div>
<img class="shelf">

<div class="stuffonshelf">
    <div class="book"></div>
    <div class="book"></div>
    <div class="book"></div>
    <div class="book"></div>
    <div class="book"></div>
</div>
<img class="shelf">
{% endblock %}