{% extends 'base.html' %}
{% set active = "Account" %}

{% block content %}
<div class="mybooks-header">
    <h1 class="mybooks-title">My Books</h1>
    <a class="mybooks-button" type="button btn btn-primary" href="/addbook"><i class="fa fa-circle-plus fa-2x"></i></a>
</div>

<div id="cards" class="mybookscontainer">
    <!-- cards go here -->
</div>

<script>
    const booksPerColumn = 3;
    function buildCards(books) {
        $('#cards').empty();
        for (var i = 0; i < books.length; i++) {
            let book = books[i];
            let card = $('<div>')
            if (book.cover == "") {
                card.addClass('blankbook').append(
                    $('<p>').append(
                    $('<h5>').text(book.title)));
            } else {
                card.append(
                    $('<img>').addClass('mybooks').attr('src', book.cover));
                    
            }
            let a = $('<a>');
            a.attr('href', '/displaybook?title=' + book.title);
            card.appendTo(a);
            $('#cards').append(a);
        }
            // if (i % booksPerColumn == 0)
                $('#cards').append($('<div>'));
            // $('#cards .card-deck').last().append(card);
        // }
        // while ($('#cards .card-deck:last .card').length < booksPerColumn)
        //     $('#cards .card-deck').last().append($('<div>').addClass('blankbook'));
    }

    function loadbooks() {
        $.get("api/mybooks", function (data) {
            buildCards(data);
        });
    }

    $(function () {
        loadbooks();
    });
</script>

{% endblock %}