<nav class="navbar navbar-expand-lg navbar-light bg-custom navbar-static-top">
    <a class="navbar-brand" href="javascript:;">
      <img src="/pics/logo.png" width="50" height="50" class="d-inline-block align-top" alt="">
        <span class="logo-name1">Biblio</span><span class="logo-name2">File</span>
      <img>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="input-group">
      <input type="text" class="form-control" placeholder="Title / Author">  
      <div class="input-group-append">
        <span class="input-group-text">
          <button class="btn" type="button"><i class="fa fa-search fa-lg"></i></button></span>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        {% if session['user'] %}
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Books</a>
        </li>
        {% endif %}
      </ul>

        <ul class="navbar-nav ml-auto">
          {% if session['user'] %}
          <li class="nav-item dropdown{% if active == 'Account' %} active{% endif %}">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hi, {{ session['user']['name'] }}!
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">My Account</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout">Sign Out</a>
            </div>
          </li>
          {% else %}
            <li class="nav-item">
              <!-- <a class="nav-link" href="/login">Log In</a> -->
              <a class="nav-link" data-target="#ModalLoginForm" data-toggle="modal" href="">Log In</a>
            </li>
          {% endif %}
        </ul>
    </div>
</nav>

<!-- Modal HTML Markup -->
<div id="ModalLoginForm" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title">Welcome Back</h1>
          </div>
          <div class="modal-body">
          <form role="form" method="POST" action="/login">
              <input type="hidden" name="_token" value="">
              <div class="form-group">
                  <label class="control-label large">Email</label>
                  <div>
                      <input type="email" placeholder="yourname@email.com" class="form-control input-lg" name="email" value="">
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label large">Password</label>
                  <div>
                      <input type="password" class="form-control input-lg" name="password">
                  </div>
              </div>
              <div class="form-group">
                <div class="forgot-pass">
                    <a class="btn btn-link" href="">Forgot Password?</a>
                </div>
              </div>
              <div class="form-group">
                  <div class="btn-sign-in-div">
                    <button type="submit" class="btn btn-primary btn-lg btn-block sign-in">Login</button>
                  </div>
              </div>
              <div class="form-group">
                <div>
                  <p class="signup-modal">Not a member? <a class="btn btn-link" href="/signup">Sign Up</a></p>
                </div>
            </div>
          </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>