<nav class="navbar navbar-expand-lg navbar-light bg-custom navbar-static-top">
    <a class="navbar-brand" href="javascript:;">
      <img src="/pics/logo.png" width="50" height="50" class="d-inline-block align-top" alt="">
        <span class="logo-name1">Biblio</span><span class="logo-name2">File</span>
      <img>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="input-group">
      <input type="text" class="form-control" placeholder="Title / Author">  
      <div class="input-group-append">
        <span class="input-group-text">
          <button class="btn" type="button"><i class="fa fa-search fa-lg"></i></button></span>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Books</a>
        </li>
      </ul>

        <ul class="navbar-nav ml-auto">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hi, User!
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">My Account</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Sign Out</a>
            </div>
        </ul>
    </div>
</nav>